ignore-scripts=false; This ensures that postinstall is called

; Below ensures that global proxy is not used
proxy=false; This is not to be confused with `http-proxy` which doesn't exist, see https://docs.npmjs.com/cli/v8/using-npm/config#proxy
https-proxy=false

engine-strict=true; This ensures that we're using npm and node versions specified in package.json engines section

legacy-peer-deps=false; Need to override this just in case if developer set it to `true` globally
