name: Add Automerge Label

on:
  schedule:
    - cron: '0 4 * * 0' # runs 30 minutes after "Dedupe npm packages" action; can't use events, see https://github.com/peter-evans/create-pull-request/issues/48#issuecomment-536204092
  workflow_dispatch: # for manual testing

jobs:
  add_label:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions-ecosystem/action-add-labels@v1
        if: |
          github.event.pull_request.user.login == 'github-actions[bot]'
          && startsWith(github.event.pull_request.head.ref, 'create-pr-action/chore-npm-dedupe-')
        with:
          labels: automerge
