name: Add Automerge Label

on:
  pull_request:
    types: [opened, reopened]
    branches: [master]

jobs:
  add_label:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions-ecosystem/action-add-labels@v1
        if: |
          github.event.pull_request.user.login == 'gapi-generator-create-pull-request[bot]'
          && github.event.pull_request.head.ref == 'create-pull-request/chore-npm-dedupe'
        with:
          labels: automerge
