name: Auto Generate Types

on:
  schedule:
    - cron: '0 * * * *'
  push:
    branches: [master]
  repository_dispatch:
    types: [auto-generate-types]

jobs:
  generate:
    runs-on: ubuntu-latest
    steps:
      # setup
      - uses: actions/checkout@v2
      - name: Read .nvmrc
        id: nvm
        run: echo ::set-output name=NVMRC::$(cat .nvmrc)
      - name: Use Node.js ${{ steps.nvm.outputs.NVMRC }}
        uses: actions/setup-node@v1
        with:
          node-version: '${{ steps.nvm.outputs.NVMRC }}'
      - name: Install dependencies
        run: npm ci
      - name: Get latest types
        run: npm run get-latest-types

      # generate and lint types
      - name: Generate types
        run: npm start -- --new-revisions-only --cache-discovery-json ${{ runner.temp }}
      - name: Lint types
        id: lint
        run: npm run lint
        env:
          GAPI_MAX_PARALLEL: 3

      # upload failed type for investigation
      - name: Copy discovery service response
        if: failure()
        run: cp ${{ runner.temp }}/${{ steps.lint.outputs.FAILED_TYPE }}.json types/${{ steps.lint.outputs.FAILED_TYPE }}
      - name: Upload failed type
        uses: actions/upload-artifact@v1
        if: failure()
        with:
          name: ${{ steps.lint.outputs.FAILED_TYPE }}
          path: types/${{ steps.lint.outputs.FAILED_TYPE }}

      # upload types on success
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v2
        env:
          ACTIONS_DEPLOY_KEY: ${{ secrets.ACTIONS_DEPLOY_KEY }}
          PUBLISH_BRANCH: types
          PUBLISH_DIR: ./types
        with:
          emptyCommits: false
