name: CI Test

on:
  pull_request:
    branches: [master]
  repository_dispatch:
    types: [ci-test]
  workflow_dispatch: # for manual testing

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      # setup
      - uses: actions/checkout@v3
      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version-file: '.nvmrc'
      - name: Install dependencies
        run: npm ci

      # test code
      - name: Run tests
        run: npm test

      # generate and lint types
      - name: Generate types
        run: npm start -- --cache-discovery-json ${{ runner.temp }}
      - name: Lint types
        id: lint
        run: npm run lint
        env:
          GAPI_MAX_PARALLEL: 3

      # upload failed type for investigation
      - name: Copy discovery service response
        if: failure()
        run: cp ${{ runner.temp }}/${{ steps.lint.outputs.FAILED_TYPE }}.json types/${{ steps.lint.outputs.FAILED_TYPE }}
      - name: Upload failed type
        uses: actions/upload-artifact@v3
        if: failure()
        with:
          name: ${{ steps.lint.outputs.FAILED_TYPE }}
          path: types/${{ steps.lint.outputs.FAILED_TYPE }}
